html, body {
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: 'Open Sans';
    
    color: #606060;

    background: #1D1E22;
}

h1, h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 100%;
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 30px;

    max-width: 8.5in;
    min-width: 8.5in;

    background: #FFF;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.page-content > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.page-content > header h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
}

.page-content > header h2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.page-content > header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 30px;

    margin-top: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

main .left, main .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    flex: 50%;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    align-self: stretch;
}

main section > h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    padding: 5px 0;

    align-self: stretch;

    border-bottom: 1px solid #606060;
}

main section .grouped-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: stretch;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: none;
    order: 1;
    flex-grow: 1;
}

.inner {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

main section .grouped-content header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 10px;
    gap: 10px;

    align-self: stretch;
}

main section .grouped-content h1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

main section .grouped-content h2 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

main section .grouped-content .info-left,
main section .grouped-content .info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-self: stretch;
    flex-grow: 0;
}

main section .grouped-content .info-left {
    align-items: flex-start;
}

main section .grouped-content .info-right {
    align-items: flex-end;
    text-align: right;
}

main section .grouped-content .extra {
    font-style: italic;

    font-size: 14px;
    line-height: 19px;

    flex-grow: 0;
}

main section .grouped-content ul {
    padding-left: 25px;

    list-style: square;

    margin: 0;
    
    flex-grow: 0;
    align-self: stretch;
}

main section .grouped-content ul > li {
    padding: 3px 0;

    font-size: 14px;
    line-height: 19px;
}

main section .split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    align-self: stretch;
}

main section .split > div {
    flex: 50%;
}

main section .split > div:first-child {
    font-weight: 700;
}

main section .split > div:last-child {
    text-align: right;
}